body{
    background-color: black;
    color: white;
max-width: 2000px;
max-height: 500px;
margin: 20px;
padding: 15px;
 
font-family: Arial, Helvetica, sans-serif;
 
 display: flexbox;
}
header{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#title{
     color: #ffffff;
    flex-direction: column;
     line-height: 10px;
}
 

h1{
    font-weight: bold;
}
 li{
    display: inline-block;
 }
.li{
    border: 2px solid  rgb(132,14,
    201);
    padding: 12px;
    border-radius: 15px;
}
 a{ 
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
 }
 a:hover{
    color:  rgb(132,14,
    201);;
 }
main{
    display: flex;
    flex-direction: row;
   margin-top: 20px;
   
}
h2{ 
    font-size: 55px;
    line-height: 10px;
}
.h2{
    font-size:55px ;
    color:  rgb(132,14,
    201);
}

form{
  display: flex;
  flex-direction: column;
   width: 70%;
}
 input{
    margin-top: 20px;
    height: 15px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
 }
 input:hover{
    transform: scale(1.1);
     
 }
 form [type = "submit"]{
    height: 45px;
    width: 50%;
    background-color:  rgb(132,14,
    201);
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
 }
 
 
 



 
